@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	background-color: #222;
	font-family: Helvetica Neue, Calibri, Verdana, sans-serif;
}
html, body{
    font-size: 3vh; /* default font-size = 1.0rem */
}
h1{
   color: #eee;
   background: #ddd url(http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg) no-repeat 50% 50%;
   width: auto;
   height: auto;
   max-width: 5000px;
   max-height: 5000px;
   padding: 2rem;
}
h3{
   font-size:18px;
}
p{
	text-align: left;
	background-color: #444;
	font-size: 3rem
}
nav a, nav a:link, nav a:visited{
	text-decoration: none;
	color: gold;
	display: block;
	
	text-align: center;
	background-color: #444;
	margin: rem;
	padding: 2rem;
	width:100%;
	font-size: 1.5rem
}
nav a:hover, nav a:active{
	float: center;
	color: #fff;
}
nav ul{
	line-height: 1.5rem
}
nav li{
	float:left;
	width:20%;
}
#wrapper{
	width: 600px;
	margin: auto;
	text-align: left;
	line-height: 5rem;
	font-size: 0rem;
}
#masthead{
	line-height: 20rem;
	font-size:24px;
}
#main{
	background-color: #222;
	color: #d4d4d4;
	
}
#footer{
	
}
#footer p{
	background-color: #333;
	color: #999;
}
#footer a{
	
}